/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.root {
    -fx-background-color: transparent;
}

.nunito-regular {
    -fx-font-family: 'Nunito Regular', sans-serif;
}

.nunito-bold {
    -fx-font-family: 'Nunito Bold', sans-serif;
}

.nunito-light {
    -fx-font-family: 'Nunito Light', sans-serif;
}

.blue {
    -fx-background-color: #5584e6;
}

.center {
    -fx-text-alignment: center;
}

/* Buttons */
.button-white {
    -fx-background-color: #fdfeff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);

    transition-duration: 4s;
}

.button-white:hover {
    -fx-background-color: rgba(253, 254, 255, 0.90);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button-blue {
    -fx-background-color: #336ccf;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
}

.button-blue:hover {
    -fx-background-color: rgb(46, 96, 185);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-text-fill: #FFFFFF;

    -fx-font-family: 'Nunito Bold', sans-serif;
}

.button-transparent-onWhite {
    -fx-background-color: transparent;
}

.button-transparent-onWhite:hover {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(51, 108, 207);
}

.button-transparent {
    -fx-background-color: transparent;
}

.button-disconnect {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
    -fx-font-size: 13px;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button-disconnect:hover {
    -fx-background-color: #c0392b;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
}

.button-delete {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
    -fx-font-size: 13px;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button-delete:hover {
    -fx-background-color: #c0392b;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
}

.button-validate {
    -fx-background-color: #2ecc71;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
    -fx-font-size: 13px;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.button-validate:hover {
    -fx-background-color: #27ae60;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Nunito Bold', sans-serif;
}

.button-soft {
    -fx-background-color: transparent;
    -fx-text-fill: #96aabe;

    -fx-font-family: 'Nunito Bold', sans-serif;
    -fx-font-size: 18px;
}

.button-soft:hover {
    -fx-text-fill: #5584e6;
}

.button-soft:focused {
    -fx-text-fill: #5584e6;

    -fx-border-color: #5584e6 transparent transparent transparent;
    -fx-border-width: 5px;
    -fx-border-radius: 1px;
}

.button-transparent:hover {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(253, 254, 255, 0.90);
}

/* Background */
.white-background {
    -fx-background-color: white;
}

.transparent-background {
    -fx-background-color: transparent;
}

.glow-blue {
    -fx-effect: dropshadow(three-pass-box, rgba(85, 132, 230, 1), 25, 0, 0, 0);
}

/* Medic Table View */
.tableView{
    -fx-background-color: #ffffff;
    -fx-fixed-cell-size : 80;
    -fx-font-family: "Nunito Bold", sans-serif !important;

    overflow: hidden;
}
.tableView .column-header-background{
}
.tableView .column-header-background .filler{
    -fx-background-color: #ffffff;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #eeeeee;
    -fx-border-color : white;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :red;
    -fx-padding :0.0 0.0 10.0 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :purple;
    -fx-padding :0.0 10.0 0.0 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;

}

#col {
    -fx-background-color: #ffffff;
    -fx-border-color: white !important;
    -fx-border-width: 1px !important;
    -fx-border-insets: 0 !important;
    -fx-font-size: 1.2em;
    -fx-text-fill: #202940 !important;
    -fx-font-family: "Nunito", sans-serif !important;
    -fx-font-size: 17px;
    -fx-padding: 1em 0;
    -fx-text-alignment: center !important;
    -fx-column-halignment: center !important;
    -fx-alignment: center !important;
}